@charset "UTF-8";
/* CSS Document */


#movie {
	float: left;
	height: 360px;
	width: 720px;
	border: 1px solid #000;
}
#movie img {
	position: absolute;
	top: 120px;
}

.left_to_right {
	position: absolute;
	width: 720px;

}

#rightbar {
	width: 240px;
	float: right;
	height: 360px;
}
#main {
	overflow: hidden;
}
body {
	width: 967px;
	padding: 5px;
	border: 1px solid #000;
}
#comment table {
	width: 240px;
	border-collapse: collapse;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000;
}
#movebar {
	border: 1px solid #000;
	margin-top: 5px;
}
#movebar p {
	margin: 0px;
}

#infobar {
	margin-bottom: 5px;
	overflow: hidden;
}
#infobar01 {
	width: 720px;
	float: left;
	border: 1px solid #000;
	height: 55px;
}
#infobar02 {
	width: 238px;
	float: right;
	border: 1px solid #000;
	overflow: hidden;
	height: 55px;
}
#nav ul {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 0px;
	overflow: hidden;
	margin-bottom: 5px;
	border: 1px solid #000;
}
#infobox {
	overflow: hidden;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: center;
	font-size: 12px;
}
#nushi {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}
#viewcount {
	float: left;
	width: 116px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000;
	height: 20px;
}
#comcount {
	float: right;
	width: 117px;
}
#exebutton {
	overflow: hidden;
}
#infobox p {
	margin-top: 2px;
	margin-bottom: 5px;
}
#short {
	float: left;
	margin: 5px;
	height: 100px;
	width: 108px;
	text-align: center;
}
#shortb {
	height: 80px;
	width: 108px;
	border: 1px solid #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #87CEEB;
	color: #FFF;
}
#long {
	float: right;
	height: 100px;
	width: 108px;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
	text-align: center;
}
#longb {
	height: 80px;
	width: 108px;
	border: 1px solid #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #F08080;
	color: #FFF;
}
#uri ,#kai{
	text-align: left;
	padding: 5px;
}
#shortb strong, #longb strong {
	font-size: 24px;
}
#urisan, #kaisan {
	text-align: right;
	padding: 5px;
}
#nav ul li {
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000;
}
.page {
	overflow: hidden;
	position: relative;
	height: 439px;
	width: 240px;
}
#comments_box {
	margin: 0px;
	height: 439px;
	width: 238px;
	overflow: hidden;
	position: relative;
	border: 1px solid #000;
}
#comments {
	overflow: hidden;
}

tr:nth-child(even) {
	background-color: #CCC;
}

#setup p {
	font-size: 12px;
	margin: 0px;
}
#comment p {
	font-size: 12px;
	margin: 0px;
}
#vote p {
	font-size: 12px;
	margin: 0px;
}
#vote strong {
	font-size: 36px;
}
#execution p {
	font-size: 12px;
	margin: 0px;
}
#nav ul li a {
	font-size: 12px;
	line-height: 34px;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #000;
	width: 50px;
}
#nav ul li a:hover {
	background-color: #999;
}
#nav ul li a:active {
	background-color: #999;
}
#nav ul li a:visited {
	background-color: #999;
}
#main #movie {
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
