
<link href='/styles/main.css' rel='stylesheet'/>

<div id="infobar">
  <div id="infobar01">
    <p>Your ID: <%= id %></p>
  </div>
  <div id="infobar02">
    <div id="infobox">
      <div id="nushi">
        <p>放送主名</p>
      </div>
      <div id="count">
        <div id="viewcount">
          <p>視聴者数</p>
        </div>
        <div id="comcount">
          <p>コメント数</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="main">
  <div id="movie">

    <img src="/images/chart.png">

  </div>
  <div id="kairu_box">
    <table>
      <tr>
        <td>
          <div class="comment">
            何について調べたいですか？
            <input id="kairu_search" type="text" />
          </div>
        </td>
        <td><img id="kairu" src="/images/kairu.jpeg"></td>
      </tr>
    </table>
  </div>
  <div id="rightbar">
  <div id="nav">
    <ul>
      <li><a href="#comment">コメント</a></li>
      <li><a href="#execution">執行</a></li>
      <li><a href="#vote">投票</a></li>
      <li><a href="#setup">設定</a></li>
      </ul>
  </div>
  <div id="comments_box">
  <div class="page" id="comment">
    <div>comment</div>
    <div id="comments" class="comments">
      <table>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td>&nbsp;</td></tr>
      </table>
    </div>
  </div>
  <div class="page" id="execution">
    <p>execution</p>
    <p>&nbsp;</p>
    <p>USD/JPY</p>
    <form name="form1" method="post" action="">
      <p>
        <input name="textfield" type="text" id="textfield" size="8">
        <label for="textfield">×1000</label>
        <input type="submit" name="button" id="button" value="　　C　　">
      </p>
      <p>
        <input type="submit" name="button2" id="button2" value="500">
        <input type="submit" name="button3" id="button3" value="100">
        <input type="submit" name="button4" id="button4" value="50">
        <input type="submit" name="button5" id="button5" value="10">
        <input type="submit" name="button6" id="button6" value="1">
      </p>
    </form>
    <p>&nbsp;</p>
        <div id="short">
          <div id="shortb">
            <p id="uri">売</p>
            <p>83.<strong>37</strong>5</p>
            <p id="urisan">▼          </p>
          </div>
          <p>安値82.950</p>
        </div>
    <div id="long">
      <div id="longb">
        <p id="kai">買</p>
        <p>83.<strong>48</strong>3</p>
        <p id="kaisan">▼</p>
      </div>
      <p>高値83.483</p>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  <div class="page" id="vote">
    <p>vote</p>
    <p>&nbsp;</p>
    <p>指標発表まで</p>
    <p>残り<strong>１５分</strong></p>
    <p>&nbsp;</p>
    <p>あなたならどちらにかける？！</p>
    <p>&nbsp;</p>
    <p><strong>買い</strong>　or　<strong>売り</strong></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>今日予定の指標</p>
    <p>&nbsp;</p>
    <p>・18:00　消費者信頼感指数</p>
    <p>・19:30　新築住宅販売件数</p>
    <p>・21:00　フィラデルフィア連銀景況指数</p>
    <p>・21:00　景気先行指標総合指数 </p>
  </div>
  <div class="page" id="setup">
    <p>setup</p>
    <p>&nbsp;</p>    
    <p>基本設定</p>
    <form name="form2" method="post" action="">
      <p>
        <input type="checkbox" name="checkbox2" id="checkbox2">
        <label for="checkbox2">番組切り替えボタンを非表示にする</label>
      </p>
      <p>
        <input type="checkbox" name="checkbox3" id="checkbox3">
        <label for="checkbox3">放送中のお知らせを表示しない</label>
        </p>
      <p>
        <input type="checkbox" name="checkbox" id="checkbox">
        <label for="checkbox">コメントの描画を滑らかにする</label>
      </p>
    </form>
    <p>&nbsp;</p>
    <p>コメント設定</p>
    <form name="form3" method="post" action="">
      <p>
        <input type="checkbox" name="checkbox4" id="checkbox4">
        <label for="checkbox4">NG設定を利用する</label>
      </p>
      <p>
        <input type="checkbox" name="checkbox5" id="checkbox5">
        <label for="checkbox5">匿名(184)コメントで投稿する</label>
      </p>
      <p>
        <input type="checkbox" name="checkbox6" id="checkbox6">
        <label for="checkbox6">匿名(184)コメントを表示しない</label>
      </p>
      <p>
        <input type="checkbox" name="checkbox7" id="checkbox7">
        <label for="checkbox7">バックステージパスコメント常に表示</label>
      </p>
      <p>
        <input type="checkbox" name="checkbox8" id="checkbox8">
        <label for="checkbox8">バックステージパスコメントをNG設定</label>
      </p>
    </form>
    <p>&nbsp;</p>
    <p>プレミアム会員限定設定</p>
    <form name="form4" method="post" action="">
      <p>
        <input type="checkbox" name="checkbox9" id="checkbox9">
        <label for="checkbox9">広告を表示しない</label>
      </p>
      <p>
        <input type="checkbox" name="checkbox10" id="checkbox10">
        <label for="checkbox10">拡大時にモニターサイズで拡大する</label>
      </p>
    </form>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</div>
  </div>
</div>
<div id="movebar">
  <p>操作バー</p>
  <div class="output">
    <div id="sendAA">AA
     <textarea readonly>fa<br>faf<br>fafa</textarea>
     <textarea readonly>JI<br>JIJ</textarea>
     <textarea>JI\nJIJ</textarea>
    </div>
    <input type="text" id="message" size="50">
    <input type="button" id="send" value="コメント">
  </div>
  
  <p>&nbsp;</p>
</div>

<!--SCRIPTS-->

<!--SCRIPTS END-->

<script type="text/javascript">

function add_comment(comment) {
  var comments = $('#comments').find('table');
  comments.find('tr')[0].remove();
  comments.append('<tr><td>' + comment + '</td></tr>');
}

var mq_seq = 0;
function add_marquee(comment) {
  var main_box = $('#movie');
  var pos = Math.floor(Math.random() * 20 + 80);
  var speed = Math.floor(Math.random() * 6 + 3);
  var id = 'mq_' + (++mq_seq);
  comment = comment.replace(/\n/g, "&lt;br /&gt;<br />");
  main_box.append('<marquee scrollamount="' + speed + '" id="' + id + '" class="left_to_right" loop="1" style="top:' + pos + 'px;">' + comment + '</marquee>');
  setTimeout(function() {
    $('#'+id).remove();
  }, 60000);
}

$(function() {
  socket.get('/room/checkin', {'userID':<%= id %>}, function(res) {
  });
  socket.on('message',function(msg) {
    var model = msg['model'];
    if (model == 'user') {
      var id = msg['id'];
      add_comment('' + id + ' has joined');
    } else if (model == 'chat') {
      var id = msg['data']['id'];
      var message = msg['data']['message'];
      message.split('\n').forEach(function(line){
        add_comment('' + id + ':' + line);
      });
      add_marquee(message);
    }
  });
  $('#sendAA hover').hover(function() {
    },
    function() {

    }
  );
  $('#sendAA textarea').click(function() {
    var message = $('#sendAA textarea').val();
    message = message.replace(/<br \/>/g, "\n");
    if (message.length <= 0) {
      return;
    }
    socket.post('/chat/say', {'chatterId':<%= id %>, 'message':message}, function(res){});
  });
  $('#send').click(function() {
    var message = $('#message').val();
    if (message.length <= 0) {
      return;
    }
    socket.post('/chat/say', {'chatterId':<%= id %>, 'message':message}, function(res){});
    $('#message').val('');
  });

  window.log = function(obj) {
    socket.post('/dump', obj, function(res){});
  };

/*
  log({'msg':'debug'});
*/

});
</script>
